* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to right bottom, rgba(207, 207, 207, 0.9), rgba(255, 255, 255, 0.9));
    /* background-color: white; */
}

.navbar-light {
    background-color: rgba(255, 255, 255, 0);
}

.jumbotron {
    padding-top: 50px;
    background-image: linear-gradient(to right bottom, rgba(207, 207, 207, 0.9), rgba(255, 255, 255, 0.9)), url(../img/bg-contact.jpg);
    background-size: cover;
}

.footer {
    background: white;
    padding-top: 15px;
    border-top: 3px solid black;
}

@media(max-width:576px) {
    .jumbotron {
        font-size: 0.8em;
    }
    .btn-group>a {
        font-size: 1em;
    }
}