* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
}

.navbar-light {
    background-color: rgba(256, 256, 256, 0);
}

.jumbotron {
    padding-top: 200px;
    background-image: linear-gradient(to right bottom, rgba(207, 207, 207, 0.9), rgba(255, 255, 255, 0.9)), url(../img/bg.jpg);
    height: 91vh;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 77vh, 0 100%);
}

.carousel {
    background: white;
    border-radius: 10px 10px 10px 10px;
}

.carousel-item {
    height: 250px;
}

.carousel-caption {
    color: white;
    padding-bottom: 25px;
    font-weight: bolder;
}

.carousel-caption footer {
    color: rgb(214, 218, 255);
}

.carousel-item img {
    height: inherit;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    opacity: 0.6;
}

.carousel-indicators li {
    cursor: pointer;
}

.fade-in {
    display: none;
}

.card-body {
    padding: 0px;
}

.card :hover {
    cursor: pointer;
}

.card img {
    border-radius: inherit;
}

.row-content {
    padding: 50px 0px 50px 0px;
}

.card-container {
    /* position: absolute; */
    height: 507px;
    width: 358px;
    perspective: 200rem;
}

.card {
    height: inherit;
    width: inherit;
    /* position: absolute; */
    transition: all 0.8s;
    backface-visibility: hidden;
    border-radius: 10px;
}

.card-container:hover .card-front {
    transform: rotateY(180deg);
}

.card-container:hover .card-back {
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(180deg);
}

.member {
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    opacity: 0.7;
    width: 50%;
}

.member:hover {
    opacity: 1.0;
}

#producer {
    top: 45%;
}

#artist {
    top: 55%;
}

.btn1 {
    border-radius: 0px;
    border: 2px solid #f0ad4e;
    overflow: hidden;
    transition: 1s all ease;
}

.btn1::before {
    background: #f0ad4e;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.6s ease;
    width: 0%;
    height: 100%;
}

.btn1:hover::before {
    width: 100%;
}

.nav-item>a {
    color: white;
}

.footer {
    padding-top: 15px;
    border-top: 3px solid black;
}

@media(max-width:576px) {
    .carousel-item {
        height: 150px;
        padding: 0px;
    }
    blockquote>p {
        font-size: 10px;
    }
    footer::before {
        font-size: 10px;
    }
    .card-container {
        height: 381px;
        width: 268.5px;
    }
    .card-back>a {
        font-size: 10px;
    }
    .btn-social {
        font-size: 1em;
    }
}

@media(max-width:767px) {
    .btn1::before {
        width: 0%;
        height: 0%;
    }
}